html, body {
    height: 100%;
}

body {
    background-color: #fff;
    color: #222;
    font-family: 'Open Sans Condensed', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
}
@media only screen and (min-width: 768px) {

    body {
        font-size: 24px;
    }
}

h1 {
    line-height: 1;
    font-family: "Cabin";
    font-size: 50px;
    color: #f9a41e;
}
@media only screen and (min-width: 768px) {

    h1 {
        font-size: 90px;
    }
}

h2 {
    font-size: 30px;
    color: #f9a41e;
}
@media only screen and (min-width: 768px) {

    h2 {
        font-size: 40px;
    }
}

h3 {
    font-size: 20px;
}
@media only screen and (min-width: 768px) {

    h3 {
        font-size: 24px;
    }
}

a, a:hover {
    color: #f9a41e;
}

.btn-primary {
    padding: 8px 32px;
    margin-right: 5px;
    background-color: transparent;
    background-image: none;
    border: 3px solid #f9a41e;
    text-shadow: none;
    font-weight: normal !important;
    color: #f9a41e;
    text-decoration: none !important;
    font-size: 20px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.btn-primary:hover {
    background-color: #f9a41e;
    color: #fff;
    border-color: #f9a41e;
}
@media only screen and (min-width: 768px) {

    .btn-primary {
        font-size: 24px;
    }
}

body > article {
    height: 100%;
}

section {
}

    section header {
        margin-bottom: 30px;
    }
    @media only screen and (min-width: 768px) {

        section header {
            margin-bottom: 60px;
        }
    }


    section header p {
            color: #908f8f;
            font-size: 25px;
        }

        section header a.btn:active {
            -webkit-box-shadow: none;
            box-shadow: none;
        }

    section p {
        margin-bottom: 15px;
    }

/* Welcome */

.welcome, .intro, .schedule, .sponsors {
    padding-top: 60px;
    padding-bottom: 60px;
}
.welcome, .schedule {
    background-color: #d2ebf9;
}
@media only screen and (min-width: 768px) {

    .welcome, .intro, .schedule, .sponsors {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

    .welcome h1,
    .welcome img {
        margin-bottom: 30px;
    }

@media only screen and (max-width: 480px) {

    .welcome img {
        max-width: 420px;
    }
}

@media only screen and (max-width: 420px) {

    .welcome img {
        max-width: 280px;
    }
}


    .welcome .btn {
        margin-top: 30px;
    }

.intro img {
    max-width: 350px;
    margin-top: 45px;
    float: right;
}

/* sponsors */

.sponsors ul {
    margin: 30px 0;
}

    .sponsors li {
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
        border: 1px solid #f1f1f1;
    }

    @media only screen and (min-width: 768px) {

        .sponsors li {
            margin-bottom: 0;
            padding-top: 30px;
            padding-bottom: 30px;
            height: 180px;
            line-height: 120px;
            border-top: 0;
            border-left: 0;
        }

        .sponsors li:nth-child(1),
        .sponsors li:nth-child(2),
        .sponsors li:nth-child(3) {
            border-top: 1px solid #f1f1f1;
        }
        .sponsors li:nth-child(1),
        .sponsors li:nth-child(4),
        .sponsors li:nth-child(7) {
            border-left: 1px solid #f1f1f1;
        }
    }

    @media only screen and (max-width: 768px) {

        .sponsors li {
            margin-bottom: 5px;
            border: 1px solid #f1f1f1;
        }
    }

        .schedule dl dt {
            float: left;
        }

        .schedule dl dd {
            margin-left: 90px;
            text-align: left;
        }

        .sponsors h3 {
            text-align: left;
            font-weight: bold;
            color: #cecece;
        }

        .sponsors h3:first-child {
            color: #ffd700;
        }

        .sponsors h3.rank:nth-child(5) {
            color: #614e1a;
        }

        .sponsors img {
            max-width: 100%;
            max-height: 120px;
        }

/* Footer */

footer {
    margin: 0 auto 60px auto;
    color: #666;
}
